@import './base.css';

* {
    --color-1: #4b4e6c;
    --color-2: #6e7189;

    --color-3: #bd6558;

    --color-red: #c52943;
    --color-green: #4c967d;

    --text-1: #fdfdfd;
}

#app {
    height: 100dvh;
    width: 100vw;
}

button.fab {
    z-index: 1000;

    position: fixed;
    bottom: 20px;
    right: 20px;

    width: 50px;
    height: 50px;

    border-radius: 50%;

    border: none;

    background-color: var(--text-1);
    color: var(--color-1);

    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button.fab svg {
    font-size: 15px;
}
